*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.phrase-card{
  
  width: 300px;
  height: 200px;
  padding: 30px; 
  background-image: url('/hoja.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.phrase-card ul{
  list-style: none;
  padding: 0;
}

.phrase-card ul li {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: left;
}

.phrase-card ul li i {
margin-right: 10px;
font-weight: bold;

}

button {
  background: white;
  border: 1px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: bold;
  box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
  0 0  0 2px rgb(255,255,255),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
}


@media only screen and (min-width: 900px){
  .phrase-card{
  
    width: 500px;
    height: 300px;
  }

  .phrase-card ul li {
    font-size: 20px;
     
  }
  
}

